html {
background:#f7f7f7;
}
body{ 
    font-family: "Comic Sans MS", cursive, sans-serif;
    background : white;
    max-width:1000px;
    margin: 0 auto;
}

header,footer{
    background:#333a40;
    color:white;
}

#name{
    background: grey;
}
